<h1>Support and feedback portal</h1>
<a href="http://localhost:3000/login"><button class="log-out-button">Log out</button></a>
<header>
    <a href="/users" <%= path == '/users' ? 'class=active' : ''%>>Customers and users</a>
    <a href="/support" <%= path == '/support' ? 'class=active' : ''%>>Support tickets</a>
    <a href="/feedback" <%= path == '/feedback' ? 'class=active' : ''%>>Feedback</a>
</header>